In [4]:
import pandas
import numpy.random as np

df = pandas.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.randn(8), 'D' : np.randn(8)})

In [5]:
df

     A      B         C         D
0  foo    one -2.348074 -0.066897
1  bar    one  0.841845  0.564454
2  foo    two -0.349007 -0.101649
3  bar  three  1.642986 -0.303509
4  foo    two -1.316192 -1.649884
5  bar    two  1.082671  0.456932
6  foo    one -0.925823 -0.369819
7  foo  three  2.296960 -0.425875

In [6]:
grouped = df.groupby('A')

In [7]:
grouped

In [8]:
print grouped

<pandas.core.groupby.DataFrameGroupBy object at 0x10459c690>

In [10]:
lst = [1, 2, 3, 1, 2, 3]

In [11]:
lst

[1, 2, 3, 1, 2, 3]

In [13]:
s = pandas.Series([1, 2, 3, 10, 20, 30], lst)

In [14]:
grouped = s.groupby(level=0)

In [15]:
grouped.first()

1    1
2    2
3    3
dtype: int64

In [16]:
grouped.last()

1    10
2    20
3    30
dtype: int64

In [17]:
grouped.sum()

1    11
2    22
3    33
dtype: int64

In [18]:
df.groupby('A').groups

{'bar': [1, 3, 5], 'foo': [0, 2, 4, 6, 7]}

In [19]:
def get_letter_type(letter):
        if letter.lower() in 'aeiou':
            return 'vowel'
        else:
            return 'consonant'

In [20]:
df.groupby(get_letter_type, axis=1).groups

{'consonant': ['B', 'C', 'D'], 'vowel': ['A']}

In [21]:
grouped = df.groupby(['A', 'B'])

In [22]:
grouped.groups

{('bar', 'one'): [1],
 ('bar', 'three'): [3],
 ('bar', 'two'): [5],
 ('foo', 'one'): [0, 6],
 ('foo', 'three'): [7],
 ('foo', 'two'): [2, 4]}

In [23]:
len(grouped)

6

In [25]:
grouped['C'].groups

{('bar', 'one'): [1],
 ('bar', 'three'): [3],
 ('bar', 'two'): [5],
 ('foo', 'one'): [0, 6],
 ('foo', 'three'): [7],
 ('foo', 'two'): [2, 4]}